.display {
    background-color: aqua;
    height: 100px;
    width: 380px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 36px;
    padding: 10px;
}

.button {
    background-color: blue;
    height: 80px;
    width: 80px;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

.calculator {
    border: solid black;
}

.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}